body {
    background-color:#f8f8f8; 
}

.menu {
    font-family: "Sitka Small", sans-serif;
    list-style: none;
    font-size: 25px;
    margin: 15px;
}

.menu li a {
    color: rgb(177, 123, 23);
    text-decoration: none;
    line-height: 35px;
    font-style: italic;
    
}

.menu li a:hover {
    font-weight: bold;
    color: red;
}

.name_shop {
    color: black; 
    font-family: "Amsterdam", sans-serif; 
    font-size: 36px; 
    font-weight: 300; 
    line-height: 40px; 
    margin: 0 0 58px;
}

h3 {
    color: black;
    font-size: 20px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short_desc {
    color: #707070;
    font-size: 20px;
    font-style: italic;
    line-height: 16px;
}

.full_desc {
    color:#484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; 
}

.characteristics {
    list-style-image: url("img/list.jpg");
    line-height: 35px;
    font-family: "Georgia", serif;
    font-size: 15px;
    font-style: italic;
    color: rgba(25, 0, 255, 0.678);
}

.image {
    border-radius: 10px;
    width: 150px;
    height: 150px; 
}

.image1 {
    border:3px solid blueviolet;
}

.image1:hover {
    border:3px solid white;
}

.logotip {
    width: 50px;
    height: 50px;
}

.contacts-form input[type="text"], 
.contacts-form input[type="email"] {
    font-family: "Chartrand_Cyrillic", sans-serif;
    width: 400px;
    height: 30px;
    color: #771ccc;
    font-size: 20px;
}

.button24 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #fdbe33 #000 #d77206;
    border-radius: 6px;
    background: linear-gradient(#f3ae0f, #e38916) #e38916;
    transition: 0.2s;
} 
.button24:hover { 
    background: linear-gradient(#f5ae00, #f59500) #f5ae00; 
}
.button24:active { 
    background: linear-gradient(#f59500, #f5ae00) #f59500; 
}



.dbl-border {
    list-style: none;
    margin: 0;
}
.dbl-border li {
    margin: 10px 0;
    position: relative;
}
.dbl-border a {
    width: 100%;
    color: #808285;
    text-decoration: none;
    border-left: 6px solid #abc7ea;
    display: block;
    padding-left: 25px;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    position: relative;
    transition: 0.3s linear;
}
.dbl-border a:before {
    content: "";
    width: 6px;
    height: 70%;
    background: #ee997c;
    position: absolute;
    top: 15%;
    left: -12px;
}
.dbl-border li:before {
    content: "";
    width: 6px;
    height: 40%;
    background: #efdd89;
    position: absolute;
    top: 30%;
    left: -12px;
}
.dbl-border a:hover {
    background: #d4d8d9;
}

.footer {
    background: #efdd89;
    padding: 30px;
    text-align: center;
}

form input:focus[type="email"] {
    text-transform: capitalize;
    background: aquamarine;
    color: #cc451c;
}

caption {
    border: 1px solid #000;
    padding: 10px;
    border-bottom: 0;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    border: 1px dotted #000;
}

td:nth-child(2n) {
    text-align: center;
}

span {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.creator {
    color: rgb(172, 48, 48);
    font-family: "EFN Dokument", serif;
    text-align: center;
}