body {
    width: 960px;
    margin: 0 auto;
}

.logo {
    border-radius: 100px;
    width: 150px;
    height: 100px;
}
.main_menu {
    list-style: none;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main_menu li a {
    text-decoration-line: none;
    font-size: 20px;
}

.main_menu li a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: brown;
}

.key_description {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.short_desc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.list_in_full_desc li{
    list-style: none;
    list-style-image: linear-gradient(#FF7A2F 0, #FF7A2F 50%, #FFB214 50%);
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contacts-form input[placeholder="Напишите ваше имя"], 
.contacts-form input[placeholder="Напишите ваш e-mail"], 
.contacts-form input[placeholder="Тема письма"]{
    font-family: "Chartrand_Cyrillic";
    width: 400px;
    height: 30px;
    color: #771ccc;
    font-size: 20px;
}

.contacts-form input:focus {
    background-color:antiquewhite;
    text-transform: capitalize;
}

.button24 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
  } 

.button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
.contacts-form input [type="e-mail"]:active {
    color: cyan;
}


.technical_params {
    border: 1px solid #000;
    border-collapse: collapse;
    border-color: cadetblue;
}

.technical_params td {
    border: 1px solid #000;
    border-color: cadetblue;
    border-style: dotted;
}


.product_image {
    outline: 2px solid #000;
    outline-color: royalblue;
}

.product_image:hover {
    outline: 1px solid white;
}

.text:first-letter {
    color: red;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

caption {
    padding-bottom: 10px;
    font-weight: bold;
}

.header {
    background-color: #F5F5DC;
}

.store_name {
    font-family:sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.content {
    background-color: #E0FFFF;
}

.footer {
    background-color: #000000;
    color: white;
}
