.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #34D1B2;
    height: 150px;
}

.logo {
    border-radius: 100px;
    width: 100px;
    height: 90px;
    top: 25px;
    left: 15px;
    position: relative;
}

.store_name {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 40px;
    top: -20px;
    left: 15px;
    position: relative;
}

.main_menu {
    list-style: none;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    position: relative;
    float: right;
    top: 15px;
    right: 20px;
}

.main_menu li {
    display: inline-block;
    font-size: 20px;
    padding-left: 5px;
}

.main_menu li a {
    text-decoration-line: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
}

.main_menu li a:hover {
    font-weight: 750;
    color: #FF6400;
    border: 1px solid rgb(235, 30, 30);
}

.key_description_info {
    margin-left: 10px;
}

.key_description {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
    clear: both;
}

.short_desc_item {

}

.short_desc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    padding-top: 50px;
}

.list_in_function_desc li{
    list-style: none;
    list-style-image: linear-gradient(#FF7A2F 0, #FF7A2F 50%, #FFB214 50%);
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contacts-form input[placeholder="Напишите ваше имя"], 
.contacts-form input[placeholder="Напишите ваш e-mail"], 
.contacts-form input[placeholder="Тема письма"]{
    font-family: "Chartrand_Cyrillic";
    width: 400px;
    height: 30px;
    color: #771ccc;
    font-size: 20px;
}

.contacts-form input:focus {
    background-color:antiquewhite;
    text-transform: capitalize;
}

.button24 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
  } 

.button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
.contacts-form input [type="e-mail"]:active {
    color: cyan;
}

.technical_params {
    margin: auto;
    border: 1px solid cadetblue;
    border-collapse: collapse;
}

.technical_params td {
    border: 1px solid #000;
    border-color: cadetblue;
    border-style: dotted;
}

.product_image {
    width: 300px;
    height: 300px;
    float: left;
    margin: 15px;
}

.product_image:hover {
    outline: 1px solid #FFAA73;
}

.text:first-letter {
    color: red;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

caption {
    padding-bottom: 10px;
    font-weight: bold;
}

.content {
    overflow: hidden;
    background-color: rgb(230, 240, 238);
}

.items {
    display: flex;
    justify-content: center;
}

.item {
    float: left;
    outline: 2px solid #FFAA73;
    margin: 30px 30px;
}

.item a {
    display: block;
    text-align: center;
}

.item:hover {
    outline: 2px solid rgb(255, 78, 78);
}

.footer {
    background-color:#FFCE73;
    color: black;
    height: 150px;
    margin-top: 10px;
}

.all_rights_reserved {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    position: relative;
    top: 30px;
    right: 30px;
}
