* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1920px;
}

.slider {
    height: 725px;
    background: url(img/slider.jpg) no-repeat;
}

.header {
    position: relative;
    background-color: #000000;
    opacity: 0.5;
    height: 83px;
    top: 20px;
}

.brand-name {
    float: left;
}

.phone-mail {
    float: left;
}

.search-area {}

.menu {}

.menu-list {}